body {
  background-color: hsl(212, 45%, 89%);
}

.container {
  max-width: 30%;
  margin: 0px auto;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10%;
}

img {
  max-width: 50%;
  margin: 0px auto;
  padding: 3em;
  border-radius: 10%;
}

.bold-text {
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

