body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 375px;
}

.image-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* max-height: 200; */
  /* position: relative; */
  /* border: black 2px solid; */
}

.main-mob {
  grid-row: 1;
  grid-column: 1 / span 12;
  z-index: 2;
}

.noughts {
  position: relative;
  top: -171px;
  left: 296px;
  color:rgb(224, 224, 224);  
  z-index: 50;
  font-size: .7rem;
}

.card-bkg {
  grid-row: 1;
  grid-column: 2 / span 10;
  padding-top: 10%;
  padding-left: 15%;
  width: 85%;
  z-index: 5;
  /* border: 1px solid black; */
}

.card-front {
  max-width: 86%;
  grid-row: 1;
  z-index: 5;
  grid-column: 1 / span 10;
  padding-top: 117px;
  padding-left: 25px;
}

.text-on-card {
  width: 400%;
  position: relative;
  left: -280px;
  /* top: 40px; */
}
.card-writing, .name{
  color: rgb(218, 209, 224);
  font-weight: 500;
  padding-left: 20px;
  z-index: 6;  
  align-self: flex-start;
}

.card-writing {
  font-size: 1.05rem;
    letter-spacing: 1.5px;    
    position: relative;
    top: -150px;
    left: 20px
}

.name {    
  position: relative;
  top: -135px;
  left: 20px;
  font-size: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.card-logo {
  position: relative;
  top: -125px;
  left:-5px;
  z-index: 6;
}

.card-date {
  color: rgb(218, 209, 224);
  position: relative;
  top: -145px;
  font-size: 0.5rem;
  left : 60px;
  z-index: 6;
  letter-spacing: 1.5px;
}

.input-area {
  background: linear-gradient(hsl(0, 0%, 92%), hsl(0, 0%, 100%));
  width: 375px;
  position: relative;
  top: -200px;
  z-index: 1;
}

.input-form {
  margin-top: 80px;
  margin-left: 25px;
  display: block;
}

form {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  
}

input {
  font-size: 1.1rem;
  font-family: "Space Grotesk", sans-serif;
  color: black;
  padding: 0.6rem;
  border-radius: 0.6rem;
  border: #d5d5d5 1px solid;
  width:85%;
  z-index: 12;
  margin: 7px 0 15px 0;
}

::-webkit-input-placeholder {
   color: rgb(196, 195, 195);
}

:-moz-placeholder { 
   color: rgb(196, 195, 195);
}

::-moz-placeholder {
   color: rgb(196, 195, 195);
}

:-ms-input-placeholder {  
   color: rgb(196, 195, 195)red;
}

.card-error-text {
  position: relative;
  top: -3px;
  left: 6px;
  font-size: 0.5rem;
  color: hsl(0, 100%, 66%);
  text-transform: normal;
  margin-top: -10px;
  display: block;
  opacity: 0;
}

.month-error-text {
  position: relative;
  top: -3px;
  left: 6px;
  font-size: 0.5rem;
  color: hsl(0, 100%, 66%);
  text-transform: normal;
  margin-top: -10px;
  display: block;
  opacity: 0;
}

.year-error-text {
  position: relative;
  top: -3px;
  left: 75px;
  font-size: 0.5rem;
  color: hsl(0, 100%, 66%);
  text-transform: normal;
  margin-top: -10px;
  display: block;
  opacity: 0;
}

.cvc-error-text {
  position: relative;
  top: -3px;
  left: 158px;
  font-size: 0.5rem;
  color: hsl(0, 100%, 66%);
  text-transform: normal;
  margin-top: -10px;
  display: block;
  opacity: 0;
}

.name-error-text {
  position: relative;
  top: -3px;
  left: 6px;
  font-size: 0.5rem;
  color: hsl(0, 100%, 66%);
  text-transform: normal;
  margin-top: -10px;
  display: block;
  opacity: 0;
}

.bottom-labels  {
  display: block;
}

.cvc-label {
  position: relative;
  left:15px;

}

#expiry-date-month, #expiry-date-year {
  width: 13%;
}

#expiry-date-year {
  margin-left: 3px;
}
#cvc {
  width: 40%;
  margin-left: .7rem;
}

button {
  font-family: 'Space Grotesk', sans-serif;
  padding: 12px 130px;
  margin: 1rem 2rem 0 1.5rem;
  width: 85%;
  background-color: black;
  color: white;
  border-radius: 0.5rem;
  font-size: 1rem;
}
.container {
  max-width: 375px;
  align-items: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
